.header {
    background-color: rgba(34, 119, 119, 0.997);
    display: flex;
    color: black;
    gap: 5px;
    position: sticky;
    top: 0;
}

.header h1 {
    margin-top: 28px;
}

.font-awesome {
    margin-top: 2%;
    width: 30px;
    height: 30px;
}