.exercise {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 55px;
}

.exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.exercise-duration {
    background-color: rgba(34, 119, 119, 0.227);
    padding: 15px;
    border-radius: 10px;
}